html
{
    font-family:'Roboto', sans-serif;
}

#phoneLogo{
    width:30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.viewTxt {
    background-color: rgba(0, 0, 0, .0);
    cursor: pointer;
}
.viewTxt:hover {
    background-color: rgba(0, 0, 0, .6);
}

@media (min-width: 0px){
    #pcNavbar {
        display: none;
    }
}

@media (min-width:900px){
    #phoneNavbar {
        display: none;
    }
    #pcNavbar {
        display: block;
    }
    #phoneLogo{
        display: none;
    }
}