/** CSS du site GetFlix - copyright 2021 - BeCode **/

/*-----------------------------GENERAL----------------------------*/
html
{
    margin: 0;
    padding: 0;
    font-family:'Roboto', sans-serif;
}

.edit{
    width: 40%;
    padding : 5px;
    margin-bottom: 10px;
}

#phoneLogo{
    width:30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.viewTxt {
    background-color: black;
    background-color: rgba(0, 0, 0, 0.0);
    cursor: pointer;
    opacity: 0.0;
    overflow: hidden;
    text-overflow: ellipsis;
}
.viewTxt:hover {
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 1.0;
}
.viewTxt h5 {
    background-color:black;
    opacity: 1.0;
    padding: 2px 5px;
}

@media (min-width: 0px){
    #pcNavbar {
        display: none;
    }
}

@media (min-width:750px){
    #phoneNavbar {
        display: none;
    }
    #pcNavbar {
        display: block;
    }
    #phoneLogo{
        display: none;
    }
}